  <script>
  $(function() {
    $("#date").datepicker();
  });
  console.log('hello')
  </script>


<h1 class="listing-header">Listing spaces for <%= params[:location] %></h1>
<%= link_to 'new location', root_url %>
<div class=" filter-bar-main row">
<%= form_tag(spaces_path, method: 'get') do %>
    <ul>
      <li class="filter-bar">
        <%= label_tag 'date' %>
        <%= text_field_tag 'date' %>
      </li >
      <%#= date_select 'space', 'date', id: "datepicker" %>
      <li class="filter-bar">
        <%= label_tag 'Number of seats' %>
        <%= select_tag 'number', options_for_select(1..10), include_blank: true %>
      </li>
      <li class="filter-bar">
        <%= label_tag 'price' %>
        <%= select_tag 'price', options_for_select([100, 200]), include_blank: true %>
      </li>
      <li class="filter-bar">
        <%= label_tag 'wifi' %>
        <%= select_tag 'wifi', options_for_select([['yes', 0], ['no', 1]]), include_blank: true %>
      </li>
      <li class="filter-bar">
        <%= label_tag 'noise' %>
        <%= select_tag 'noise', options_for_select([['pindrop silence', 0], ['  quiet', 1],['light conversation', 2],['lively', 3], ['loud', 4]], ), include_blank: true %>
      </li>
      <%= hidden_field_tag 'location', params[:location] %>
      <li class="filter-bar filter-submit">
        <%= submit_tag 'filter', class: 'btn btn-info' %>
      </li>
    </ul>
<% end %>
</div>


<div class="row">
  <% @spaces.each do |space| %>
    <div class="span4">
      <%= link_to(image_tag('Yale Art Gallery.jpg'), space) %>
      <%= space.name %>
      fdsaf
    </div>
  <% end %>
</div>

<%= link_to 'New Space', new_space_path %>
