<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @space.name %>
</p>

<p>
  <b>Address:</b>
  <%= @space.address %>
</p>

<p>
  <b>City:</b>
  <%= @space.city %>
</p>

<p>
  <b>State:</b>
  <%= @space.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @space.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @space.phone %>
</p>

<p>
  <b>Website:</b>
  <%= @space.website %>
</p>

<p>
  <b>Hours:</b>
  <%= @space.hours %>
</p>

<p>
  <b>Wifi:</b>
  <%= @space.wifi %>
</p>


<!-- TODO: limit seats for a reservation -->
<%= form_for @reservation do |f| %>
  <%= f.label :user_id %>
  <%= f.text_field :user_id %>
  <%= f.label :availability_id %>
  <%= f.text_field :availability_id %>
  <%= f.label :seats %>
  <%= f.number_field :seats %>
  <%= f.submit %>
<% end %>




<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
