<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <h1 id='landing-header'>Find a place to work</h1>
    <%= form_tag('/space-search', id: :search_bar)  do %>
      <%= text_field_tag :location,'',placeholder: 'enter your location' %>
      <%= submit_tag 'search', class: "btn btn-inverse btn-large search_button" %>
    <% end %>
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag('yale2.jpg') %></div>
    <div class="item"><%= image_tag('Yale Art Gallery.jpg') %></div>
    <div class="item"><%= image_tag('Yale Art Gallery.jpg') %></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
