<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
      <div class="navbar-inner">
        <div class="container" style="width: auto;">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href=<%=root_url%> id="logo" class= "brand"><%= image_tag "Logo.jpg"%></a>
          <ul class="nav pull-left">
            <li>Space that inspires.</li>
          </ul>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li><a href="#">Sign up</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#">Sign in</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#">Add Space</a></li>
            </ul>
          </div><!-- /.nav-collapse -->
        </div>
      </div><!-- /navbar-inner -->
    </div><!-- /navbar -->

<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
